/*

{font-family: Oswald}
{font-family: Lato}
{font-family: Merriweather}
{font-family: Lora}
*/

.l-masthead {
  margin-top:50px;
  margin-left:125px;
  margin-right:160px;

}
.l-box-model {
  width:450px;
  padding:0;
  float:left;
  margin-left:100px;

}
.l-feature {

  position: relative;
  width: 40%;
  float: left;
}
.l-staying-afloat {
  float:left;
  width:120px;
  margin-left:180px;

}
.l-bullets {
  width:800px;
  display:inline-block;

}
.l-famous {
/* set section for middle of page, other elements positioned in relation to .famous */
  width:960px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.l-bottom-line {
  width:720px;
  float:left;
  margin-left:150px;

}
.l-transformers {
  width:240px;
  margin-right:150px;
  float:right;

}
.l-overflow {
  width:1060px;
  margin:0 auto;

}
.l-register {
  margin-right:150px;
  width:960px;

}
.l-footer {
  width:960px;
  margin-left:150px;
  margin-right:150px;

}



/*=====FONTS=====*/
.f-lato {
  font-family: Lato, sans-serif;
}

.f-lora {
  font-family: Lora, serif;
}

.f-oswald {
  font-family: Oswald;
}

.f-merri {
  font-family: Merriweather;
}



/*
CSS OFF top background #ccc9dc
CSS OFF bottom background #d6d3e6
POS RELA font color #fdcd83
Box model font color #5b5966
volume 3 font #cccccc
Staying afloat font #2f7b61
Lobsterman font #414141
List style font #a0762c
A round up font #cac07b
bullet list font #e2e2e2
displaying famous blocks top background #524743
displaying famous blocks bottom background #73625b
transformers background #3c83bb
transformers light blue #699cc7
overflow text #777c80
2013CSSOFF font #5e5e5e
Volume 3 font (route gregory, etc.) #b5b5b5

CSS OFF top background #ccc9dc CSS OFF bottom background #d6d3e6 POS RELA font color #fdcd83 Box model font color #5b5966 volume 3 font #cccccc Staying afloat font #2f7b61 Lobsterman font #414141 List style font #a0762c A round up font #cac07b bullet list font #e2e2e2 displaying famous blocks top background #524743 displaying famous blocks bottom background #73625b transformers background #3c83bb transformers light blue #699cc7 overflow text #777c80 2013CSSOFF font #5e5e5e Volume 3 font (route gregory, etc.) #b5b5b5 .l-famous {
}
*/
