/*

{font-family: Oswald}
{font-family: Lato}
{font-family: Merriweather}
{font-family: Lora}
*/

.main-body {
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.l-masthead {
  margin-top:50px;

}
.l-box-model {
  width: 35%;
  float: left;
  margin-left: -10%;;

}
.l-feature {

  width: 65%;
  position: relative;
  float: right;
  margin-right: -12.5%;;;
}
.l-staying-afloat {
  width:15%;
  padding:1%;
  text-align:right;

}
.l-bullets {
  width:70%;
  padding:1%;

}
.l-famous {
  width: 100%;
  text-align: center;


  /* display: block; */
}
.l-bottom-line {
  width:75%;
  float:left;

}
.l-transformers {
  width:25%;
  float:right;
}

.l-overflow {
  width:1060px;
  margin-left:-12.5%;
  margin-right:-12.5%;;

  /* overflow-y: visible; */;

}
.l-register {
  width:960px;

}
.l-footer {
  width:960px;

}



/*=====FONTS=====*/
.f-lato {
  font-family: Lato, sans-serif;
}

.f-lora {
  font-family: Lora, serif;
}

.f-oswald {
  font-family: Oswald;
}

.f-merri {
  font-family: Merriweather;
}



/*
CSS OFF top background #ccc9dc
CSS OFF bottom background #d6d3e6
POS RELA font color #fdcd83
Box model font color #5b5966
volume 3 font #cccccc
Staying afloat font #2f7b61
Lobsterman font #414141
List style font #a0762c
A round up font #cac07b
bullet list font #e2e2e2
displaying famous blocks top background #524743
displaying famous blocks bottom background #73625b
transformers background #3c83bb
transformers light blue #699cc7
overflow text #777c80
2013CSSOFF font #5e5e5e
Volume 3 font (route gregory, etc.) #b5b5b5

CSS OFF top background #ccc9dc CSS OFF bottom background #d6d3e6 POS RELA font color #fdcd83 Box model font color #5b5966 volume 3 font #cccccc Staying afloat font #2f7b61 Lobsterman font #414141 List style font #a0762c A round up font #cac07b bullet list font #e2e2e2 displaying famous blocks top background #524743 displaying famous blocks bottom background #73625b transformers background #3c83bb transformers light blue #699cc7 overflow text #777c80 2013CSSOFF font #5e5e5e Volume 3 font (route gregory, etc.) #b5b5b5 .l-famous {
}
*/
